{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About Us</h2>
        <hr />
        <p>
           Welcome to GT Movies Store, your
            one-stop destination for all things cinema!
            We are an online movie store dedicated to bringing
            you the latest and greatest in film entertainment.
            Whether you're a fan of action-packed blockbusters, heartwarming dramas,
            spine-chilling thrillers, or timeless classics, we have something for every movie lover.
        </p>
        <p>
          At Popcorn Vault, we believe in the magic of movies and the power
            they have to connect us, entertain us, and tell stories that inspire and evoke emotions.
            Our curated collection features a vast array of movies across all genres, available for instant streaming, digital download, or physical purchase.
            We pride ourselves on offering a user-friendly platform that makes it easy to browse, purchase, and enjoy your favorite films, all from the comfort of your home.
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}"
             class="max-width-100"
             alt="about" />
      </div>
      <div class="row mt-4 text-center">
          <h2> Why Choose Us? <h2>
          <hr />
          <ul>
              <p>
              <il>
                  Wide Selection: We offer an extensive library of movies.
                  From the latest releases to classic masterpieces, you'll find everything you’re looking for.
              </il>
              </p>
              <p>
              <il>
                  Convenience: Shop anytime, anywhere.
                  Our digital options ensure you can enjoy movies without the hassle of physical media.
              </il>
              </p>
              <p>
              <il>
                  Secure Transactions: Your privacy and security are important to us.
                  We use industry-standard encryption to protect your personal information.
              </il>
              </p>
              <p>
              <il>
                  Customer Support: Our customer service team is here to assist you with any questions or issues,
                  ensuring you have the best experience possible.
              </il>
              </p>
              <p>
              <il>
                  Competitive Prices: We strive to provide high-quality films at affordable prices,
                  so you can enjoy your favorite movies without breaking the bank.
              </il>
              </p>
          <ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}